@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


.figtree-body {
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-align: center;
}

.figtree-comment {
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    color: #a71eff;
    text-align: center;
}

.figtree-bold {
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: black;
    text-align: center;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -2; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}

#background-people {
    border-radius: 1em;
    padding: 1em;
    position: fixed;
    top: 60%;
    left: 52%;
    margin-right: -48%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.fixed {
    width: 979px;
    height: 655px;
}

#background-header {
    border-radius: 1em;
    padding: 1em;
    position: fixed;
    top: 10em;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


#content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height:50%;
    overflow-x: hidden;
    width:500px;
    overflow-y: auto;

    /* mask fade distance, for use in mask calculations */
    --mask-height: 32px;

    /* Need to make sure container has bottom space,
  otherwise content at the bottom is always faded out */
    padding-bottom: var(--mask-height);


    /* The CSS mask */

    /* The content mask is a linear gradient from top to bottom */
    --mask-image-content: linear-gradient(
        to bottom,
        transparent,
        black var(--mask-height),
        black calc(100% - var(--mask-height)),
        transparent
    );

    /* Here we scale the content gradient to the width of the container 
  minus the scrollbar width. The height is the full container height */
    --mask-size-content: 100% 100%;

    /* The scrollbar mask is a black pixel */
    --mask-image-scrollbar: linear-gradient(black, black);

    /* The width of our black pixel is the width of the scrollbar.
  The height is the full container height */
    --mask-size-scrollbar: 0 100%;

    /* Apply the mask image and mask size variables */
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

    /* Position the content gradient in the top left, and the 
  scroll gradient in the top right */
    mask-position: 0 0, 100% 0;

    /* We don't repeat our mask images */
    mask-repeat: no-repeat, no-repeat;

    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none  /* Firefox Safari Chrome*/
}

.centered {
    border-radius: 1em;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-bottom: 3em;
}

#scrollable-content {
    margin: auto;
}

p {
    margin: 0;
    padding-bottom: 0.25em;
    padding-top: 0;
}

#about-container {
    display: block;
    float:left;
    width: 500px;
}